<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icons/logo.png" sizes="32x32">
    <link rel="stylesheet" href="/css/style.css">

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #ACDF87, #1E5631);
        }

        .cancel-button {
            height: 45px;
            width: 100%;
            outline: none;
            border: none;
            color: white;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            background: linear-gradient(135deg, #ACDF87, #1E5631);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -20px;
        }

        .cancel-button:hover{
            filter: brightness(80%);
            cursor: pointer;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/editProfile.js"></script>

    <title>Edit Profile</title>
</head>
<body>
    <div class="edit-profile-container">
        <div class="edit-profile-inner-container">
            <div class="title">Edit Profile</div>

            <form id="review-form">
                <div class="edit-profile-user-details">
                    <div class="input">
                        <input type="file" class="avatar" name="profilePicture" id="image-file" placeholder="{{user.profilePicture}}" accept="image/*" onchange="changeImage(event)">
                        <label for="image-file">
                            <img src="{{user.profilePicture}}" alt="profile-pic" id="current-pic">
                            <i class="material-symbols-outlined" id="add-a-photo">
                                {{!-- add_a_photo --}}
                            </i>
                            <div id="circle"></div>  
                        </label>
                    </div>

                    <div id="username">
                        <span class="headerreg" id="user">{{user.username}}</span>
                    </div>

                    <div class="input" id="first-name-id">
                        <span class="headerreg">First Name</span>
                        <input type="text" readonly class="first-name" placeholder="{{user.firstName}}">
                    </div>
    
                    <div class="input" id="last-name-id">
                        <span class="headerreg">Last Name</span>
                        <input type="text" readonly class="last-name" placeholder="{{user.lastName}}">
                    </div>

                    <div class="input" id="description-id">
                        <span class="headerreg">Short Description</span>
                        <textarea id="description-area" name="shortDescription" class="description" placeholder="{{user.shortDescription}}"></textarea>
                    </div>

                </div>

                <div class="submit-button">
                    <input type="submit" value="Confirm">
                </div>
                <script>
                    document.getElementById('review-form').addEventListener('submit', (event) => {
                        event.preventDefault();
                        let url = "https://script.google.com/macros/s/AKfycbyJ0UTeofsJ0MJYv6a072kdXUQhISAVtJVJWiSoAFDVD0wgxEGcmIUQUlIuOhLnTpHk/exec";

                        let fileInput = document.getElementById("image-file");

                        if (fileInput.files.length > 0) {
                            let fr = new FileReader();
                            fr.addEventListener('loadend', () => {
                                let res = fr.result;
                                let spt = res.split("base64,")[1];
                                let obj = {
                                    base64: spt,
                                    type: fileInput.files[0].type,
                                    name: fileInput.files[0].name
                                };
                                fetch(url, {
                                    method: "POST",
                                    body: JSON.stringify(obj)
                                })
                                    .then(r => r.text())
                                    .then(link => {
                                        const responseLink = link;
                                        console.log("Image link:", link);

                                        const shortDescriptionInput = document.getElementById('description-area');
                                        const username = '{{user.username}}';
                                        const originalShortDescription = shortDescriptionInput.getAttribute('placeholder'); // Get the original value

                                        console.log(username);
                                        console.log(responseLink);

                                        const formData = {
                                            key: username,
                                            shortDescription: shortDescriptionInput.value !== '' ? shortDescriptionInput.value : originalShortDescription,
                                            pictureLink: responseLink
                                        };

                                        try {
                                            fetch(`/view%20profile/edit%20profile/edit`, {
                                                method: 'PATCH',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify(formData),
                                            })
                                                .then(response => {
                                                    window.location.href = 'http://localhost:3000/main';
                                                })
                                                .catch(error => {
                                                    console.error('Error updating profile:', error);
                                                    alert('Failed to update profile. Please try again.');
                                                });
                                        } catch (error) {
                                            console.error('Error updating profile:', error);
                                            alert('Failed to update profile. Please try again.');
                                        }
                                    })
                                    .catch(error => console.error("Error:", error));
                            });
                            fr.readAsDataURL(fileInput.files[0]);
                        } else {
                            const replaceresponseLink = '{{serializedprofPic}}';
                            const responseLink = replaceresponseLink.replace(/&quot;/g, '').replace(/&#x3D;/g,'=').replace(/&amp;/g,'&');
                            console.log(responseLink);

                            const shortDescriptionInput = document.getElementById('description-area');
                            const profilePictureInput = document.getElementById('image-file');

                            const username = '{{user.username}}';
                            const originalShortDescription = shortDescriptionInput.getAttribute('placeholder'); // Get the original value
                            const originalprofilePicture = profilePictureInput.getAttribute('placeholder'); // Get the original value

                            console.log(username);
                            console.log(responseLink);

                            const formData = {
                                key: username,
                                shortDescription: shortDescriptionInput.value !== '' ? shortDescriptionInput.value : originalShortDescription,
                                pictureLink: responseLink
                            };

                            try {
                                fetch(`/view%20profile/edit%20profile/edit`, {
                                    method: 'PATCH',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(formData),
                                })
                                    .then(response => {
                                        window.location.href = 'http://localhost:3000/main';
                                    })
                                    .catch(error => {
                                        console.error('Error updating profile:', error);
                                        alert('Failed to update profile. Please try again.');
                                    });
                            } catch (error) {
                                console.error('Error updating profile:', error);
                                alert('Failed to update profile. Please try again.');
                            }
                        }
                    });
                </script>
                <div class="cancel-button" onclick="window.location.href='/main'">
                    <a>Cancel</a>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
